@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --pozadi: lightskyblue;
    --score: red;
}

html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--pozadi);
    background-repeat: repeat;
    background-image: url('obrazky/pozadi/geometry.png');
    /*  vyzkoušej i jiná pozadí :)
	background-image: url('obrazky/pozadi/round.png');
)	background-image: url('obrazky/pozadi/whirlpool.png');
	background-image: url('obrazky/pozadi/weather.png');
	background-image: url('obrazky/pozadi/swirl.png');
	background-image: url('obrazky/pozadi/seigaiha.png');
	background-image: url('obrazky/pozadi/hypnotize.png');*/
    font-family: 'Poppins', sans-serif;
}

#score {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 36px;
    z-index: 999;
    color: var(--score);
}

#panacek,
#mince {
    position: absolute;
}

#panacek {
    z-index: 1;
}

#hudbaon {
    position: absolute;
    top: 5px;
    left: 1240px;
    background: blanchedalmond;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 7px 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, .3);
}

#hudbaon:hover {
    transform: scale(1.1);
}

#hudbaoff {
    position: absolute;
    top: 5px;
    left: 1350px;
    background: blanchedalmond;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 7px 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, .3);
}

#hudbaoff:hover {
    transform: scale(1.1);
}

#info {
    position: absolute;
    top: -5px;
    left: 120px;
    font-size: small;
    padding: 7px 5px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, .3);
}